body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.btn{
  padding: 3px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.check{
  display: flex;
  justify-content: space-around;
}
.submit{
  margin-top: 2%;
  width: 50%;
  margin-left: 16%;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.task{
  background-color: gray;
  color: white;
  padding: 4px;
  display: flex;
  /* justify-content: center; */
  width: 25%;
  margin-left: 38%;
  margin-top: 1%;
  border-radius: 5px;
}
form{
  display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 37%;
}
label{
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}
input{
  padding: 10px;
}
.reminder{
  background-color: green;
}

/* .task:hover{
  background-color: aqua;
  color: black;
} */
p{
  display: contents;
  
  /* padding-right: 20px; */
}
